/* Total page styling */

html,
body {
    margin: 0;
    box-sizing: border-box;
    background-color: #8f8f8f;
    text-align: center;
}

/* Spacing Sizing */
.experience__wrapper,
.hobbies__wrapper {
    margin: 25px 0 25px 0;
}

/* Font styling */

h1,
h2,
h3 {
    font-family: 'Koulen', cursive;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Image styling */

.image__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

img {
    height: 400px;
    width: 400px;
    border-radius: 7px;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    margin: 7px 0 7px 0;
}

img:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
}

figcaption {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Card Text Sytling */

.text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    line-height: 125%;
}


/*Footer Sytling */



footer {
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 241, 241);
    font-size: 1.1em;
    background-color: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}


footer ul li {
    list-style: none;
    display: inline;
    padding: 0 15px;
}

footer a {
    font-family: 'Koulen', cursive;
    text-decoration: none;
    background-color: white;
    padding: 3px 15px;
    border-radius: 20px;
    margin: 0;

}