/* Total page styling */

html,
body {
    margin: 0;
    background-color: #5e5e5e;
    text-align: center;
}



.image__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

img {
    height: 350px;
    width: 400px;
}